@import 'components/../variables';

.player-list-item {
  display: grid;
  grid-template-columns: 1.2fr 0.8fr 0.5fr 0.5fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'name team nationality shirt-number';
  align-items: center;

  border-top: 1px solid $primary-extralight;
  padding: 10px;
  min-height: 70px;
  color: $tertiary-text;
  font-weight: normal;

  &:hover {
    background-color: $tertiary;
  }

  .name {
    grid-area: name;
  }

  .team {
    grid-area: team;

    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'team-image team-name';

    align-items: center;

    .team-image {
      grid-area: team-image;
      justify-self: center;
    }

    .team-name {
      grid-area: team-name;
    }
  }

  .nationality {
    grid-area: nationality;
  }

  .shirt-number {
    grid-area: shirt-number;
    justify-self: right;
  }
}
