@import 'components/../variables';

.team-players {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-top: 1px solid $primary-extralight;
  padding-bottom: 20px;

  .player-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    list-style: none;
  }
}
